*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#0A1F3C;
  color:white;
}

h1{
  color:#00FF7F;
  font-size:42px;
  text-align:center;
  margin-top:100px;
}

p{
  text-align:center;
  margin-top:15px;
  font-size:20px;
}
